---
facebookLink: "#"
twitterLink: "#"
instagramLink: "#"
---

{% set cssPath = '"/assets/css/file.css"' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Muslim Anthology Project</title>
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/header.css">
  <link rel="stylesheet" href="/assets/css/footer.css">
  <link rel="stylesheet" href={{ cssPath | safe | replace("file", pageId) }}>
  {% if pageId === "submit-entry" %}
    <link rel="stylesheet" href="/assets/css/flickity.css" media="screen">
  {% endif %}
</head>

<body>

  <header>
    <nav id="navbar">
      <span class="navbar-toggle">
        <img id="nav-menu-toggle" src="/assets/img/nav-menu-bars.svg">
      </span>
      <a class="nav-logo" href="/">Muslim Anthology Project</a>
      <ul id="nav-menu">
        <li><a class="nav-links" href="/about-us/">About Us</a></li>
        <li><a class="nav-links" href="/our-project/">Our Project</a></li>
        <li><a class="nav-links" href="/guidelines/">Guidelines</a></li>
        <li><a class="nav-links nav-buttons" id="submit-button" href="/submit-entry/">Submit Entry</a></li>
        <li><a class="nav-links nav-buttons" id="contact-button" href="/contact-us/">Contact Us</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <nav>
      <div><a class="footer-logo" href="/">Muslim Anthology Project</a></div>
      <ul id="footer-menu">
        <li><a class="footer-links" href="/about-us/">About Us</a></li>
        <li><a class="footer-links" href="/our-project/">Our Project</a></li>
        <li><a class="footer-links" href="/guidelines/">Guidelines</a></li>
        <li><a class="footer-links" href="/submit-entry/">Submit Entry</a></li>
        <li><a class="footer-links" href="/contact-us/">Contact Us</a></li>
      </ul>
      <ul id="footer-social-menu">
        <li><a href="{{ facebookLink | safe }}"><img src="/assets/img/footer-icon-facebook.svg"></a></li>
        <li><a href="{{ twitterLink | safe }}"><img src="/assets/img/footer-icon-twitter.svg"></a></li>
        <li><a href="{{ instagramLink | safe }}"><img src="/assets/img/footer-icon-instagram.svg"></a></li>
      </ul>
    </nav>
    <hr>
    <p>© 2020 Muslim Anthology Project. All rights reserved.</p>
  </footer>

  <script src="/assets/js/navbar.js"></script>
  {% if pageId === "guidelines" %}
    <script src="/assets/js/guidelines.js"></script>
  {% endif %}
  {% if pageId === "submit-entry" %}
    <script src="/assets/js/submit-entry.js"></script>
    <script src="/assets/js/flickity.pkgd.min.js"></script>
  {% endif %}
</body>

</html>
