#slide1 {
  display: flex;
  flex-direction: row;
}

#map {
  max-width: 50vw;
  overflow: hidden;
}

#map img {
  max-width: initial;
}

#slide1-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
  color: var(--main-color);
}

#slide1-left h1 {
  text-align: center;
}

#slide1-left p {
  padding: 0 20%;
  text-align: center;
}

#slide1 a {
  padding: 20px;
  border-radius: 50px;
  background-color: var(--main-color);
  text-decoration: none;
  color: white;
}

#slide2 {
  width: 90vw;
  display: flex;
  flex-direction: row;
}

#slide2 p {
  line-height: 1.5em;
}

#slide2-pic {
  width: 50vw;
}

#slide2-pic img {
  margin: 10%;
}

#slide2-right {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 5%;
  align-items: center;
  margin-top: 10vh;
  margin-left: 10vw;
  color: var(--main-color);
  text-align: center;
}

#slide2-right a {
  padding: 20px;
  border-radius: 50px;
  background-color: var(--main-color);
  text-decoration: none;
  color: white;
}

#slide3 {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
  background-image: url("/assets/img/index-slide3-bg.png");
  padding-top: 20vh;
}

#slide3 p {
  width: 50vw;
  text-align: center;
  line-height: 1.5em;
}

#slide3 a {
  padding: 20px;
  border-radius: 50px;
  background-color: var(--main-color);
  text-decoration: none;
  color: white;
}

#slide4 {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--main-color);
  justify-content: center;
}

#slide4-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slide4-centre a {
  padding: 20px;
  border-radius: 50px;
  background-color: var(--main-color);
  text-decoration: none;
  color: white;
}
