.slide {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.slide-text {
  line-height: 2em;
  padding: 2em;
  text-align: center;
}

.slide h1 {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

#slide1 {
  background-image: url("/assets/img/guidelines-slide1-bg.png");
}

#themeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.theme {
  margin: 3em;
  margin-bottom: 0;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.icon {
  height: 160px;
  padding: auto;
}

.caption {
  text-align: center;
  line-height: 1.5em;
}

#slide3 p {
  font-weight: bold;
  margin: 5em auto;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}



#requirementContainer {
  background-image: url("/assets/img/guidelines-slide4-bg.png");
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.requirement {
  display: flex;
  flex-direction: column;
  box-shadow: -5px -5px 3px rgba(109, 91, 91, 0.2), 5px 5px 3px rgba(179, 179, 179, 0.2), 5px -5px 3px rgba(179, 179, 179, 0.2), -5px 5px 3px rgba(179, 179, 179, 0.2);
  border-radius: 20px;
  background-color: white;
  padding: 1em;
  margin: 1em 3em;
  text-align: center;
  height: max-content;
}

.requirement .icon {
  max-width: 81px;
  max-height: 76px;
  margin: auto;
}

.requirement .name {
  width: max-content;
  margin: 1em auto 0 auto;
}

.requirement .text {
  width: auto;
  margin: 1em auto 0 auto;
  line-height: 1.5em;
}

#tabLinks {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  box-shadow: -5px -5px 3px rgba(179, 179, 179, 0.2), 5px 5px 3px rgba(179, 179, 179, 0.2), 5px -5px 3px rgba(179, 179, 179, 0.2), -5px 5px 3px rgba(179, 179, 179, 0.2);
}

.tabLink {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.tabLink:hover {
  background-color: #F7F7F7;
}

.tabLink.active {
  background-color: #F7F7FF;
}

.tabIcon {
  width: 22px;
  height: 25px;
  margin: auto;
  padding: 10px;
}

.tabLink h4 {
  color: var(--main-color);
}

#tabbedGuidelines {
  display: flex;
  align-self: flex-start;
  padding-left: 2em;
  margin: 2em;
  line-height: 2em;
}

.tabContent * {
  overflow-wrap: anywhere;
}

/* first tab selected by default */
.tabContent {
  display: none;
}
#submissionFormat {
  display: block;
}

@media screen and (max-width: 900px) {
  /* styles for small screens */
  #tabbedGuidelines {
    padding: 0;
  }
}

@media screen and (min-width: 900px) {
  /* styles for large screens */
  .tabLink {
    flex-direction: row;
  }
}

@media screen and (min-width: 1100px) {
  /* styles for larger screens */

  #slide1 h1 {
    padding: 2em;
  }

  #requirementContainer {
    flex-direction: row;
    justify-content: center;
  }

  .requirement {
    width: 20vw;
    margin: 5em 3em;
  }

  #eligibility {
    margin-top: 14em;
  }

  #tabLinks {
    margin: 3em;
  }

  .tabLink {
    padding: 2em 6em;
  }
}
