---
layout: "base.njk"
title: "Contact Us"
pageId: "contact-us"
---

<div id="slide1" class="slide">
  <div class="slide-text">
    <h1>Have additional questions or queries?</h1>
  </div>
</div>

<div id="slide2" class="slide">
  <h1>Contact Us</h1>
  <div id="formDiv">
    <div id="form-pic">
      <img src="/assets/img/contact-form-pic.png" alt="Contact Us">
    </div>
    <div>
      <div id="successMsg">
        <h2>We've received your message.<br>Thanks for reaching out!</h2>
      </div>
      {# <form id="contactForm" action="http://localhost:5000/contact" method="post"> #}
      <form id="contactForm" action="http://map-flask-eb.eba-mmp3umuc.us-west-2.elasticbeanstalk.com/contact" method="post">
        <fieldset>
          <input class="formField" type="text" id="inputName" name="name" placeholder="Full Name" required>
          <input class="formField" type="email" id="inputEmail" name="email" placeholder="Email Address" required>
          <textarea class="formField" id="inputMessage" name="message" placeholder="Write your message here..." required></textarea>
          <button type="submit" class="slide-cta">Send</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>