---
layout: "base.njk"
title: "Home"
pageId: "index"
---

<div id="slide1" class="slide">
  <div id="slide1-pic" class="slide-pic">
    <img src="assets/img/map.png" alt="British Columbia on a map of Canada">
  </div>
  <div id="slide1-text" class="slide-text">
    <h1>The Muslim Anthology Project</h1>
    <p>The Muslim Anthology Project aims to map the experiences of Muslims in British Columbia through poetry, essays, short stories, interviews and artwork.</p>
    <a id="slide1-cta" class="slide-cta" href="/our-project/">Learn More</a>
  </div>
</div>
<div id="slide2" class="slide">
  <div id="slide2-pic" class="slide-pic">
    <img src="assets/img/index-slide2-pic.png" alt="Who We Are">
  </div>
  <div id="slide2-text" class="slide-text">
    <h1>Who We Are</h1>
    <p>As part of the Muslim community, living as a minority in a western society, we have come together work to compile an anthology highlighting experiences and discourses of Muslims. Whether it is popular media or academia, trends and daily experiences are often overlooked when discussing Muslims.</p>
    <p>Get to know more about the team that is working hard on this project here. </p>
    <a id="slide2-cta" class="slide-cta" href="/about-us/">See Our Team</a>
  </div>
</div>
<div id="slide3" class="slide">
  <div id="slide3-text" class="slide-text">
    <h1>About The Project</h1>
    <p>We are the Muslim Anthology Project, or MAP for short. Together, we’re MAPping the experiences of Musims in B.C. Get to know more about the Anthology and what we’re working on here.</p>
    <a id="slide3-cta" class="slide-cta" href="/our-project/">Learn More</a>
  </div>
</div>
<div id="slide4" class="slide">
  <div id="slide4-left" class="slide-side-imgs">
    <img src="/assets/img/index-slide4-left.png" alt="Media Icons">
  </div>
  <div id="slide4-text" class="slide-text">
    <h1>Submission Guidelines</h1>
    <p>Interested in submitting to the anthology? Please make sure to read the guidelines before submission</p>
    <a id="slide4-cta" class="slide-cta" href="/guidelines/">View Guidelines</a>
  </div>
  <div id="slide4-right" class="slide-side-imgs">
    <img src="/assets/img/index-slide4-right.png" alt="Media Icons">
  </div>
</div>
