---
layout: "base.njk"
title: "Our Project"
pageId: "our-project"
projectGoals: [
  {
    name: "Narrative & Representation",
    icon: "/assets/img/project-goals-narrative.png",
    imgID: "goal-narrative",
    points: [
      "Present an overlooked narrative",
      "Curb misunderstandings about Muslim",
      "Create our own narrative as Muslims",
      "Normalize Muslims in the media"
    ]
  },
  {
    name: "Analysis & Research",
    icon: "/assets/img/project-goals-analysis.png",
    imgID: "goal-analysis",
    points: [
      "Resource for policymakers and local businesses to provide solutions to the needs of Muslim population",
      "Apply findings to Muslims in the larger Western society",
      "Demonstrate how the Western Canadian Muslim experience fits into the Canadian experience"
    ]
  },
  {
    name: "Talent & Creativity",
    icon: "/assets/img/project-goals-talent.png",
    imgID: "goal-talent",
    points: [
      "Create a platform for writers and artists to showcase their talent",
      "Put Muslims in the forefront of their own story"
    ]
  }
]
---

<div id="slide1" class="slide">
  <h1>
    Learn about what the Muslim Anthology Project entails and the goals it hopes to accomplish
  </h1>
</div>

<div id="slide2" class="slide">
  <div id="slide2-pic" class="slide-pic">
    <img src="/assets/img/project-slide2.png" alt="The Muslim Anthology Projoct">
  </div>
  <div id="slide2-text" class="slide-text">
    <h1 class="slide-heading">The Muslim Anthology Project</h1>
    <p>
      MAP is a compilation of experiences and discourses that take place
      within the B.C Muslim communities. The goal is to present an authentic
      narrative about Muslims and Islam which is often overlooked by
      popular media and academia. 
    </p>
    <p>
      Our shared experiences and discourses make and shape the culture.
      Experiences include awkward moments of getting caught with your
      feet in the sink when making wudhu and having to explain hijab to
      fellow passengers on the bus. Topics such as officially vetting halal
      restaurants and the legitimacy of celebrating the Prophet
      Muhammad’s (SAW) birthday are examples of discourses. This variety
      of experiences and discourses will be used to demonstrate the
      collective everyday lives of the average Muslim.
    </p>
    <p>
      It should be noted that we recognize and acknowledge our
      boundaries, and we understand that our project will not be able to
      represent all voices due to limitations of time and resources.
    </p>
  </div>
</div>

<div id="slide3" class="slide">
  <div id="slide3-pic" class="slide-pic">
    <img src="/assets/img/project-slide3.png" alt="Who it involves?">
  </div>
  <div id="slide3-text" class="slide-text">
    <h1 class="slide-heading">Who it involves?</h1>
    <p>
      This is a community project. Without the community’s participation, we
      cannot map the Muslim experience in B.C. We want people of any age,
      gender, ethnicity, socio-economic status, background etc. to contribute.
      We want to represent the diversity of Muslims. To be eligible to submit,
      our only requirements are that you are Muslim and living in B.C.
    </p>
    <a class="slide-cta" href="/guidelines/">View Guidelines</a>
  </div>
</div>

<div id="slide4" class="slide">
  <h1 class="slide-heading">Project Goals</h1>
  <div id="goalContainer">
    {% for goal in projectGoals %}
      <div class="goal">
        <img class="icon" id="{{ goal.imgID }}" src='{{ goal.icon }}' alt='{{ goal.name | safe }}'>
        <h3 class="goalHeading">{{ goal.name }}</h3>
        <ul class="goalList">
          {% for item in goal.points %}
            <li class="goalItem">{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>

<div id="slide5" class="slide">
  <div class="slide-text">
    <p>Need some examples of what kinds of content can be submitted to the anthology? Check them out here.</p>
    {# TODO: link for viewing sample submissions #}
    <a class="slide-cta" href="#">View Sample Submissions</a>
  </div>
</div>
